@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
.hidden{
    display: none !important;
}
.inventory{
    grid-auto-flow: row;
    width: 500px;
    height: 200px;
    background: coral;
    margin-left: auto;
    margin-right: auto;
}
#asset {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#popupForm {
    display: none;
    margin:50px 0px; 
    padding:0px;
    text-align:center;
    position: fixed;
    border: 3px solid #f1f1f1;
    /* z-index: 9; */
}

.formContainer {
    max-width: 300px;
    padding: 10px;
    background-color: rgba(29, 133, 100, 0);
}
body {
    background-color: #0C111C;
}
#gameWindow > div {
    display: block;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#gameWindow > div > p {
    font-family: 'Silkscreen', cursive;
    color: #D9D9D9;
}
#gameWindow > img {
    transition: all .5s ease;
}
#buttonOne {
    transition: all .5s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: #668541;
    border: none;
    border-radius: 5px;
    font-family: 'Silkscreen', cursive;
}
#buttonOne:hover, #buttonTwo:hover {
    color: #001F3F;
    background-color: #fff; 
}
#buttonTwo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #668541;
    border: none;
    border-radius: 5px;
    font-family: 'Silkscreen', cursive;
    margin-bottom: 10px;
}
#inventory {
    transition: all .5s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #668541;
    border: none;
    border-radius: 5px;
    font-family: 'Silkscreen', cursive;
    margin-bottom: 10px;
}
#inventory:hover {
    color: #001F3F;
    background-color: #fff; 
}
/* Need to stylize the rest of the elements */