@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    box-sizing: border-box;
   
}
body {
    margin: 0;
    padding: 0;  
}
header {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #595959;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.295);
    text-align: center;
}
header > h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 4px;
    font-size: 36px;
    color: #ebebeb;
}
.drop{
    display: inline-block;
    color: #ebebeb;
    background-color: #0d0d0d00;
    border-radius: 10px;
    border-color: #ffffff00;
    font-size: 24px;
    padding: 10px;
}
.drop:hover {
    color: #b9b9b9;
}
#dropdown{
    position: relative;
    display: inline-block;
    padding: 20px;
}
#dropdown:hover .menu-content{
    visibility: visible;
}
.menu-content{
    visibility: hidden;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.menu-content a{
    color: #ebebeb;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Andale Mono, monospace;
}
.menu-content {
    width: 300px;
    background-color: #929292;
}

.menu-content a:hover {
    text-decoration: underline;
}
body {
    background-image: url(../assets/trees.jpg);
}
#start-game {
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20rem;
    padding-left:20px;
    padding-right:20px;
    background-color: #ebebeb;
    border-color: #59595923;
    box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.432);
}
#start-game:hover {
    background-color: #8f8f8f;
}

#about > h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    letter-spacing: 4px;
    text-align: center;
    color: #ebebeb;
}
#type {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #ebebeb;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
}
#team {
    margin-bottom: 3rem;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #ebebeb;
    font-size: 36px;
    letter-spacing: 4px;
}
img {
    width: 25%;
    height:90%;
    object-fit:cover;
    margin-left: 50px;
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
}
#containerSection {
    padding-top: 5rem;
    padding-bottom: 8rem;
}
.container {
    display: block;
    max-width:1200px;
    max-height:550px;
    margin-left: auto;
    margin-right: auto;
}
.container:hover img {
    opacity:0.3;
}
.container img:hover {
    transform:perspective(800px) rotateY(0deg);
    opacity:1;
}
footer > p {
    text-align: center;
    color: #ebebeb;
}
#one {
    margin-left: 5.8rem;
}

